# Add for board init.rc for recovery mode
import /init.recovery.common.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/system/lib64/hw:/vendor/lib64:/vendor/lib64/hw

on boot
    start health-hal-2-1
    start trusty
    start keymaster-4-0
    start gatekeeper-1-0
    start vendor.tsupplicant
    start tee_rpc
    
on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    
    export ANDROID_ROOT /system_root

on post-fs
    mkdir /mnt/vendor/efs/DAK 0775 root root
    restorecon -R /mnt/vendor/efs/DAK
    chown root root /mnt/vendor/efs/DAK/gakkeybox
    chmod 0644 /mnt/vendor/efs/DAK/gakkeybox

on post-fs-data
    mkdir /data/vendor/keymaster 0775 root root

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    class hal
    user root
    group root
    seclabel u:r:recovery:s0

service trusty /system/bin/vendor.sprd.hardware.trusty@1.0-service
    class hal
    user root
    group root
    seclabel u:r:recovery:s0

service vendor.tsupplicant /system/bin/tsupplicant firmware
    class early_hal
    user root
    group root
    seclabel u:r:recovery:s0

service vendor.tsupplicant-cali /system/bin/tsupplicant firmware
    class cali
    user root
    group root
    seclabel u:r:recovery:s0

service tee_rpc /system/bin/tee_rpc
    class core
    user root
    group root
    seclabel u:r:tee:s0

    on property:ro.build.version.security_patch=*
    setprop ro.vendor.build.security_patch ${ro.build.version.security_patch}
