# Add for board init.rc for recovery mode
import /init.recovery.common.rc
 on init
    export LD_LIBRARY_PATH /system/lib64:/system/lib64/hw:/vendor/lib64:/vendor/lib64/hw
    setprop prepdecrypt.setpatch true
    setprop prepdecrypt.loglevel 2

on boot
    start health-hal-2-1
    start vold
    start keymaster
    start gatekeeper
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    
    export ANDROID_ROOT /system_root

on post-fs
    mkdir /mnt/vendor/efs/DAK 0775 root root
    restorecon -R /mnt/vendor/efs/DAK
    chown root root /mnt/vendor/efs/DAK/gakkeybox
    chmod 0644 /mnt/vendor/efs/DAK/gakkeybox

on post-fs-data
    mkdir /data/vendor/keymaster 0775 root root

on late-fs
   … 
    # Wait for keymaster
    exec_start wait_for_keymaster

    # Mount RW partitions which need run fsck
    mount_all /system/etc/recovery.fstab --late

    service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    class hal
    user root
    group root

    service vendor.keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
